
@font-face {
                          font-family: "ComicSansMS-Bold";
                          src: url('../fonts/Comic Sans MS Bold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "ComicSansMS";
                          src: url('../fonts/Comic Sans MS.ttf') format("truetype");
                        }
                        
.anchor {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anchor .group {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 768px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 768px;
  box-sizing          : border-box;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 937px;
  width               : 1249px;
  position            : absolute;
  margin              : 0;
  left                : -68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .rectangle1 {
  background-color    : rgba(0, 28, 60, 0.4);
  top                 : 21px;
  height              : 78px;
  width               : 658px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  border-radius       : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .anchorthescenewit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 237px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
.anchor .group .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 645px;
  height              : 78px;
  width               : 811px;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .rectangle2 .rectangle4 {
  background-color    : rgba(71, 71, 71, 1.0);
  top                 : 0px;
  height              : 78px;
  box-sizing          : border-box;
  width               : 811px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 39px;
  border-style        : solid;
  border-width        : 10px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .rectangle2 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 58px;
  width               : 698px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .rectangle2 .rectangle21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 78px;
  width               : 645px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .rectangle2 .rectangle31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 78px;
  width               : 449px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .rectangle2 .playable {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 459px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
.anchor .group .rectangle2 .bad {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
.anchor .group .rectangle2 .ideal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 655px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
.anchor .group .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 363px;
  height              : 114px;
  width               : 473px;
  position            : absolute;
  margin              : 0;
  left                : 276px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 273px;
  height              : 153px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 488px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .triangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 273px;
  height              : 152px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 488px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .triangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 245px;
  height              : 46px;
  width               : 46px;
  position            : absolute;
  margin              : 0;
  left                : 489px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .triangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 246px;
  height              : 45px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 489px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .triangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : 28px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .triangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : 28px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .triangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 229px;
  height              : 29px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .triangle7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 229px;
  height              : 28px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .systemsecondback {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .systemsecondback .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .systemsecondback .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .systemsecondback .oval .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .group .systemsecondback .oval .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 54px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.anchor .group .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.anchor .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 363px;
  height              : 114px;
  width               : 472px;
  position            : absolute;
  margin              : 0;
  left                : 276px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}