
@font-face {
                          font-family: "ComicSansMS-Bold";
                          src: url('../fonts/Comic Sans MS Bold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "ComicSansMS";
                          src: url('../fonts/Comic Sans MS.ttf') format("truetype");
                        }

.confirmanchor {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.confirmanchor .group2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 768px;
  width               : 1024px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 768px;
  box-sizing          : border-box;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 937px;
  width               : 1249px;
  position            : absolute;
  margin              : 0;
  left                : -68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 363px;
  height              : 114px;
  width               : 473px;
  position            : absolute;
  margin              : 0;
  left                : 276px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 273px;
  height              : 153px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 488px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .triangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 273px;
  height              : 152px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 488px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .triangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 245px;
  height              : 46px;
  width               : 46px;
  position            : absolute;
  margin              : 0;
  left                : 489px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .triangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 246px;
  height              : 45px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 489px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .triangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : 28px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .triangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : 28px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .triangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 229px;
  height              : 29px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .triangle7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 229px;
  height              : 28px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .rectangle2 {
  background-color    : rgba(0, 28, 60, 0.75);
  top                 : 21px;
  height              : 78px;
  width               : 472px;
  position            : absolute;
  margin              : 0;
  left                : 276px;
  border-radius       : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .taponplaytostart {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 346px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
.confirmanchor .group2 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : 526px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 348px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  /* opacity             : 0.4; */
  border-radius: 50%;
}

.a-ag1, .a-ag2 {
  opacity: 0.55;
}

.a-ag1:hover, .a-ag2:hover {
  opacity: 0.85;
  transform: scale(1.07)!important;
}

.a-ag1:active, .a-ag2:active {
  opacity: 0.9;
  margin-top: 3px!important;
  transform: scale(1.045)!important;
}

.confirmanchor .group2 .group .confirmanchorreset {
  background-color    : rgba(255,255,255,0.0);
  top                 : 373px;
  height              : 168px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .group .confirmanchorreset .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 168px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .group .confirmanchorreset .reset {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 28, 60, 1.0);
  text-align          : center;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
.confirmanchor .group2 .group .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 328px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .group .confirmanchorplay {
  background-color    : rgba(255,255,255,0.0);
  top                 : -15px;
  height              : 358px;
  width               : 358px;
  position            : absolute;
  margin              : 0;
  left                : -15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .group .confirmanchorplay .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 358px;
  width               : 358px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.confirmanchor .group2 .group .confirmanchorplay .play {
  background-color    : rgba(255,255,255,0.0);
  top                 : 245px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 140px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 28, 60, 1.0);
  text-align          : center;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
.confirmanchor .group2 .group .confirmanchorplay .triangle8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 105px;
  height              : 124px;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 134px;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.confirmanchor .group2 .group .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 388px;
  height              : 138px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
