
@font-face {
                          font-family: "ComicSansMS-Bold";
                          src: url('../fonts/Comic Sans MS Bold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "ComicSansMS";
                          src: url('../fonts/Comic Sans MS.ttf') format("truetype");
                        }
                        
.cooking {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.cooking .group {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 768px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 768px;
  box-sizing          : border-box;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .bitmap6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 868px;
  width               : 1158px;
  position            : absolute;
  margin              : 0;
  left                : -94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .oval2 .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .oval2 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 54px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.cooking .group .hotspot2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 360px;
  height              : 268px;
  width               : 472px;
  position            : absolute;
  margin              : 0;
  left                : 110px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .welcometothemarke {
  background-color    : rgba(255,255,255,0.0);
  top                 : 505px;
  height              : auto;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 166px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
.cooking .group .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 307px;
  height              : 90px;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 507px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 411px;
  height              : 94px;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 624px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .bitmap3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 320px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 346px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .bitmap4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 329px;
  height              : 82px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 678px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .bitmap5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 411px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 472px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .rectangle2 {
  background-color    : rgba(0, 28, 60, 0.4);
  top                 : 21px;
  height              : 78px;
  width               : 384px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  border-radius       : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .chickenwaffles {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 372px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
.cooking .group .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 902px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .oval1 .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .oval1 .rectangle21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 52px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 902px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 431px;
  height              : 72px;
  width               : 107px;
  position            : absolute;
  margin              : 0;
  left                : 769px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 629px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 902px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .oval .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .oval .starcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 42px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 629px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 902px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 156px;
  height              : 269px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 199px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 66px;
  height              : 178px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 149px;
  height              : 29px;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.cooking .group9 .group7 .hand {
  background-color    : rgba(255,255,255,0.0);
  top                 : 99px;
  height              : 27px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(-165deg); /* IE 9 */
  -webkit-transform   : rotate(-165deg); /* Chrome, Safari, Opera */
  transform           : rotate(-165deg);
}
.cooking .group9 .group7 .hand .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .hand .oval11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .hand .ovalcopy43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 13px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(-11deg); /* IE 9 */
  -webkit-transform   : rotate(-11deg); /* Chrome, Safari, Opera */
  transform           : rotate(-11deg);
}
.cooking .group9 .group7 .hand .ovalcopy47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 8px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(-26deg); /* IE 9 */
  -webkit-transform   : rotate(-26deg); /* Chrome, Safari, Opera */
  transform           : rotate(-26deg);
}
.cooking .group9 .group7 .hand .ovalcopy44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 14px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(8deg); /* IE 9 */
  -webkit-transform   : rotate(8deg); /* Chrome, Safari, Opera */
  transform           : rotate(8deg);
}
.cooking .group9 .group7 .hand .ovalcopy45 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 13px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(18deg); /* IE 9 */
  -webkit-transform   : rotate(18deg); /* Chrome, Safari, Opera */
  transform           : rotate(18deg);
}
.cooking .group9 .group7 .hand .ovalcopy46 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 10px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(35deg); /* IE 9 */
  -webkit-transform   : rotate(35deg); /* Chrome, Safari, Opera */
  transform           : rotate(35deg);
}
.cooking .group9 .group7 .armr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 59px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(29deg); /* IE 9 */
  -webkit-transform   : rotate(29deg); /* Chrome, Safari, Opera */
  transform           : rotate(29deg);
}
.cooking .group9 .group7 .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 81px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 96px;
  -ms-transform       : rotate(-145deg); /* IE 9 */
  -webkit-transform   : rotate(-145deg); /* Chrome, Safari, Opera */
  transform           : rotate(-145deg);
}
.cooking .group9 .group7 .group12 .handcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 27px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(-165deg); /* IE 9 */
  -webkit-transform   : rotate(-165deg); /* Chrome, Safari, Opera */
  transform           : rotate(-165deg);
}
.cooking .group9 .group7 .group12 .handcopy .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .group12 .handcopy .oval11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .group12 .handcopy .ovalcopy43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 13px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(-11deg); /* IE 9 */
  -webkit-transform   : rotate(-11deg); /* Chrome, Safari, Opera */
  transform           : rotate(-11deg);
}
.cooking .group9 .group7 .group12 .handcopy .ovalcopy47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 8px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(-26deg); /* IE 9 */
  -webkit-transform   : rotate(-26deg); /* Chrome, Safari, Opera */
  transform           : rotate(-26deg);
}
.cooking .group9 .group7 .group12 .handcopy .ovalcopy44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(8deg); /* IE 9 */
  -webkit-transform   : rotate(8deg); /* Chrome, Safari, Opera */
  transform           : rotate(8deg);
}
.cooking .group9 .group7 .group12 .handcopy .ovalcopy45 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 13px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(18deg); /* IE 9 */
  -webkit-transform   : rotate(18deg); /* Chrome, Safari, Opera */
  transform           : rotate(18deg);
}
.cooking .group9 .group7 .group12 .handcopy .ovalcopy46 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 10px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(35deg); /* IE 9 */
  -webkit-transform   : rotate(35deg); /* Chrome, Safari, Opera */
  transform           : rotate(35deg);
}
.cooking .group9 .group7 .group12 .armrcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 59px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(29deg); /* IE 9 */
  -webkit-transform   : rotate(29deg); /* Chrome, Safari, Opera */
  transform           : rotate(29deg);
}
.cooking .group9 .group7 .body {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 138px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 103px;
  height              : 34px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .oval11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 101px;
  height              : 34px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .ovalcopy40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 103px;
  height              : 34px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .ovalcopy401 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 101px;
  height              : 34px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : 43px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .rectanglecopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : 44px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 86px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 78px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .ovalcopy41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .group7 .body .ovalcopy42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 118px;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .path5copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 69px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .ovalcopy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 18px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(-26deg); /* IE 9 */
  -webkit-transform   : rotate(-26deg); /* Chrome, Safari, Opera */
  transform           : rotate(-26deg);
}
.cooking .group9 .headb .ovalcopy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : 18px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(26deg); /* IE 9 */
  -webkit-transform   : rotate(26deg); /* Chrome, Safari, Opera */
  transform           : rotate(26deg);
}
.cooking .group9 .headb .ovalcopy10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : 18px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(-26deg); /* IE 9 */
  -webkit-transform   : rotate(-26deg); /* Chrome, Safari, Opera */
  transform           : rotate(-26deg);
}
.cooking .group9 .headb .ovalcopy11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 77px;
  height              : 18px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(26deg); /* IE 9 */
  -webkit-transform   : rotate(26deg); /* Chrome, Safari, Opera */
  transform           : rotate(26deg);
}
.cooking .group9 .headb .ovalcopy12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 67px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .ovalcopy13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 67px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .ovalcopy14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : 12px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(22deg); /* IE 9 */
  -webkit-transform   : rotate(22deg); /* Chrome, Safari, Opera */
  transform           : rotate(22deg);
  opacity             : 0.6;
}
.cooking .group9 .headb .ovalcopy15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : 12px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(-22deg); /* IE 9 */
  -webkit-transform   : rotate(-22deg); /* Chrome, Safari, Opera */
  transform           : rotate(-22deg);
  opacity             : 0.6;
}
.cooking .group9 .headb .oval2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 95px;
  height              : 17px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .ovalcopy16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 99px;
  height              : 13px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .ovalcopy17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 104px;
  height              : 7px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .ovalcopy18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 89px;
  height              : 5px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .path2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 8px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .path2copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 7px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .path3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : 35px;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .path3copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 37px;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .path4copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 45px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .path4copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 45px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 41px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .rectanglecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 41px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .ovalcopy19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 43px;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .ovalcopy20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .ovalcopy21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .oval4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 77px;
  height              : 10px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 77px;
  height              : 10px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 54px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cooking .group9 .headb .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 54px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}