
@font-face {
                          font-family: "ComicSansMS-Bold";
                          src: url('../fonts/Comic Sans MS Bold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "ComicSansMS";
                          src: url('../fonts/Comic Sans MS.ttf') format("truetype");
                        }
                        
.foodpreferencesettings {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.foodpreferencesettings .group {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 768px;
  width               : 1024px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 768px;
  box-sizing          : border-box;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : -182px;
  height              : 1524px;
  width               : 2032px;
  position            : absolute;
  margin              : 0;
  left                : -446px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .rectangle1 {
  background-color    : rgba(0, 28, 60, 0.4);
  top                 : 0px;
  height              : 768px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 637px;
  width               : 640px;
  position            : absolute;
  margin              : 0;
  left                : 187px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group4 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 612px;
  width               : 610px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  border-radius       : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group4 .settingsclose {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group4 .settingsclose .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group4 .settingsclose .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : -5px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : -5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group4 .settingsclose .oval .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group4 .settingsclose .oval .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 42px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group4 .settingsclose .oval .path21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 42px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group4 .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 181px;
  height              : 549px;
  width               : 453px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .veganvegetariankos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 452px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
.foodpreferencesettings .group .group5 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 29px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group2 .rectangle2 {
  background-color    : rgba(254, 190, 0, 1.0);
  top                 : 0px;
  height              : 29px;
  box-sizing          : border-box;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group2 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 29px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group3 .rectanglecopy {
  background-color    : rgba(8, 61, 120, 1.0);
  top                 : 0px;
  height              : 29px;
  box-sizing          : border-box;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group3 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 102px;
  height              : 29px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group31 .rectanglecopy {
  background-color    : rgba(8, 61, 120, 1.0);
  top                 : 0px;
  height              : 29px;
  box-sizing          : border-box;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group31 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 145px;
  height              : 29px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group32 .rectanglecopy {
  background-color    : rgba(8, 61, 120, 1.0);
  top                 : 0px;
  height              : 29px;
  box-sizing          : border-box;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group32 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : 29px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group33 .rectanglecopy {
  background-color    : rgba(8, 61, 120, 1.0);
  top                 : 0px;
  height              : 29px;
  box-sizing          : border-box;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group33 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 29px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group34 .rectanglecopy {
  background-color    : rgba(8, 61, 120, 1.0);
  top                 : 0px;
  height              : 29px;
  box-sizing          : border-box;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group34 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group35 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 276px;
  height              : 29px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group35 .rectanglecopy {
  background-color    : rgba(8, 61, 120, 1.0);
  top                 : 0px;
  height              : 29px;
  box-sizing          : border-box;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group35 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group36 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 319px;
  height              : 29px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group36 .rectanglecopy {
  background-color    : rgba(8, 61, 120, 1.0);
  top                 : 0px;
  height              : 29px;
  box-sizing          : border-box;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group36 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group37 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 363px;
  height              : 29px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group37 .rectanglecopy {
  background-color    : rgba(8, 61, 120, 1.0);
  top                 : 0px;
  height              : 29px;
  box-sizing          : border-box;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group37 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group38 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 406px;
  height              : 29px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group38 .rectanglecopy {
  background-color    : rgba(8, 61, 120, 1.0);
  top                 : 0px;
  height              : 29px;
  box-sizing          : border-box;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 5px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.foodpreferencesettings .group .group5 .group38 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}