
@font-face {
                          font-family: "ComicSansMS-Bold";
                          src: url('../fonts/Comic Sans MS Bold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "ComicSansMS";
                          src: url('../fonts/Comic Sans MS.ttf') format("truetype");
                        }
                        
.parentcenter {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(29, 96, 172, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.parentcenter .rectangle {
  background-color    : rgba(0, 28, 60, 0.4);
  top                 : 166px;
  height              : 140px;
  width               : 847px;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  border-radius       : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .rectangle1 {
  background-color    : rgba(0, 28, 60, 0.4);
  top                 : 325px;
  height              : 140px;
  width               : 847px;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  border-radius       : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .rectangle2 {
  background-color    : rgba(0, 28, 60, 0.4);
  top                 : 484px;
  height              : 140px;
  width               : 847px;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  border-radius       : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .parentcenteravaliable {
  background-color    : rgba(255,255,255,0.0);
  top                 : 166px;
  height              : 140px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 801px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .parentcenteravaliable .rectangle8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 140px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .parentcenteravaliable .avaliable1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(162, 239, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.2px;
  line-height         : 23.0px;
}
.parentcenter .parentcenteravaliable .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .carolineu2019splayingt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 201px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 28.0px;
}
.parentcenter .total {
  background-color    : rgba(255,255,255,0.0);
  top                 : 201px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 529px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.parentcenter .a120min {
  background-color    : rgba(255,255,255,0.0);
  top                 : 229px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 529px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(254, 190, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 20.0px;
}
.parentcenter .a120min .span1 {
  line-height         : 42.0px;
}
.parentcenter .a120min .span2 {
  font-size           : 20.0px;
  line-height         : 28.0px;
}
.parentcenter .a70min {
  background-color    : rgba(255,255,255,0.0);
  top                 : 229px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 665px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(254, 190, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 20.0px;
}
.parentcenter .a70min .span1 {
  line-height         : 42.0px;
}
.parentcenter .a70min .span2 {
  font-size           : 20.0px;
  line-height         : 28.0px;
}
.parentcenter .cost {
  background-color    : rgba(255,255,255,0.0);
  top                 : 201px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 664px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.parentcenter .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 504px;
  height              : 99px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 118px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .group2 .rectanglecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 99px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .group2 .a585861431 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -43px;
  height              : 225px;
  width               : 341px;
  position            : absolute;
  margin              : 0;
  left                : -158px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : 99px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 118px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .group4 .rectangle8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 99px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .group4 .a993795898 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 99px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : -25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .group4 .a1011589346 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 207px;
  width               : 313px;
  position            : absolute;
  margin              : 0;
  left                : -66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 345px;
  height              : 99px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 118px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .group3 .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 99px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .group3 .a902830088 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 160px;
  width               : 243px;
  position            : absolute;
  margin              : 0;
  left                : -95px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .systemprimeback {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .systemprimeback .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .systemprimeback .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .systemprimeback .oval1 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .systemprimeback .oval1 .rectangle8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 54px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.parentcenter .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .rectangle3 {
  background-color    : rgba(153, 103, 15, 1.0);
  top                 : 240px;
  height              : 35px;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  border-radius       : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .rectanglecopy5 {
  background-color    : rgba(254, 190, 0, 1.0);
  top                 : 242px;
  height              : 31px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 237px;
  border-radius       : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .annu2019splayingtime {
  background-color    : rgba(255,255,255,0.0);
  top                 : 358px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 231px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 28.0px;
}
.parentcenter .total1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 358px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 525px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.parentcenter .a120min1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 386px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 525px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(254, 190, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 20.0px;
}
.parentcenter .a120min1 .span1 {
  line-height         : 42.0px;
}
.parentcenter .a120min1 .span2 {
  font-size           : 20.0px;
  line-height         : 28.0px;
}
.parentcenter .a45min {
  background-color    : rgba(255,255,255,0.0);
  top                 : 386px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 661px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(254, 190, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 20.0px;
}
.parentcenter .a45min .span1 {
  line-height         : 42.0px;
}
.parentcenter .a45min .span2 {
  font-size           : 20.0px;
  line-height         : 28.0px;
}
.parentcenter .cost1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 358px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 660px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.parentcenter .rectangle4 {
  background-color    : rgba(153, 103, 15, 1.0);
  top                 : 397px;
  height              : 35px;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 231px;
  border-radius       : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .rectanglecopy51 {
  background-color    : rgba(254, 190, 0, 1.0);
  top                 : 399px;
  height              : 31px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 233px;
  border-radius       : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .lesteru2019splayingtim {
  background-color    : rgba(255,255,255,0.0);
  top                 : 517px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 231px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 28.0px;
}
.parentcenter .total2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 517px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 525px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.parentcenter .a120min2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 545px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 525px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(254, 190, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 20.0px;
}
.parentcenter .a120min2 .span1 {
  line-height         : 42.0px;
}
.parentcenter .a120min2 .span2 {
  font-size           : 20.0px;
  line-height         : 28.0px;
}
.parentcenter .a120min3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 545px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 661px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(254, 190, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 20.0px;
}
.parentcenter .a120min3 .span1 {
  line-height         : 42.0px;
}
.parentcenter .a120min3 .span2 {
  font-size           : 20.0px;
  line-height         : 28.0px;
}
.parentcenter .rectangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 325px;
  height              : 140px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 801px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .avaliable {
  background-color    : rgba(255,255,255,0.0);
  top                 : 404px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 833px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(162, 239, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.2px;
  line-height         : 23.0px;
}
.parentcenter .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 362px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 851px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .parentcenterblocked {
  background-color    : rgba(255,255,255,0.0);
  top                 : 484px;
  height              : 140px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 803px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .parentcenterblocked .rectangle8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 140px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .parentcenterblocked .blocked {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 60, 147, 1.0);
  text-align          : center;
  letter-spacing      : 0.2px;
  line-height         : 23.0px;
}
.parentcenter .parentcenterblocked .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .cost2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 517px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 660px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.parentcenter .rectangle6 {
  background-color    : rgba(153, 103, 15, 1.0);
  top                 : 556px;
  height              : 35px;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 231px;
  border-radius       : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .rectanglecopy52 {
  background-color    : rgba(254, 190, 0, 1.0);
  top                 : 558px;
  height              : 31px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 233px;
  border-radius       : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .rectangle7 {
  background-color    : rgba(0, 28, 60, 0.4);
  top                 : 35px;
  height              : 78px;
  width               : 472px;
  position            : absolute;
  margin              : 0;
  left                : 276px;
  border-radius       : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.parentcenter .parentcenter1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 407px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}