
@font-face {
                          font-family: "ComicSansMS-Bold";
                          src: url('../fonts/Comic Sans MS Bold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "ComicSansMS";
                          src: url('../fonts/Comic Sans MS.ttf') format("truetype");
                        }
                        
.recipelist {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.recipelist .group {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 768px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 768px;
  box-sizing          : border-box;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 937px;
  width               : 1249px;
  position            : absolute;
  margin              : 0;
  left                : -68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval7 .oval8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval7 .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 54px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.recipelist .group .rectangle1 {
  background-color    : rgba(0, 0, 0, 0.4);
  top                 : 146px;
  height              : 300px;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  border-radius       : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .rectanglecopy {
  background-color    : rgba(0, 0, 0, 0.4);
  top                 : 146px;
  height              : 300px;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 393px;
  border-radius       : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .rectanglecopy2 {
  background-color    : rgba(0, 0, 0, 0.4);
  top                 : 146px;
  height              : 300px;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 666px;
  border-radius       : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .rectangle2 {
  background-color    : rgba(0, 0, 0, 0.4);
  top                 : 482px;
  height              : 300px;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  border-radius       : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .rectanglecopy1 {
  background-color    : rgba(0, 0, 0, 0.4);
  top                 : 482px;
  height              : 300px;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 393px;
  border-radius       : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .rectanglecopy21 {
  background-color    : rgba(0, 0, 0, 0.4);
  top                 : 482px;
  height              : 300px;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 666px;
  border-radius       : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 156px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval1 .oval8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 429px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval2 .oval8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 702px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval3 .oval8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 529px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 156px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval4 .oval8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 529px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 428px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval5 .oval8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 529px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 701px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .oval6 .oval8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 165px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .chickenwaffles {
  background-color    : rgba(255,255,255,0.0);
  top                 : 387px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 145px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.recipelist .group .a25minutes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 366px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.19px;
  line-height         : 21.0px;
}
.recipelist .group .bananasandwiches {
  background-color    : rgba(255,255,255,0.0);
  top                 : 388px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 416px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.recipelist .group .a10minutes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 367px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 474px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.19px;
  line-height         : 21.0px;
}
.recipelist .group .bananasmoothies {
  background-color    : rgba(255,255,255,0.0);
  top                 : 385px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 695px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.recipelist .group .a10minutes1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 364px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 747px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.19px;
  line-height         : 21.0px;
}
.recipelist .group .fruitkabobs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 723px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 174px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.recipelist .group .a15minutes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 702px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.19px;
  line-height         : 21.0px;
}
.recipelist .group .turkeysloppyjoes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 723px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 412px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.recipelist .group .a30minutes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 702px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 472px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.19px;
  line-height         : 21.0px;
}
.recipelist .group .maccheesebites {
  background-color    : rgba(255,255,255,0.0);
  top                 : 724px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 685px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.25px;
  line-height         : 28.0px;
}
.recipelist .group .a10minutes2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 703px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 747px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.19px;
  line-height         : 21.0px;
}
.recipelist .group .rectangle3 {
  background-color    : rgba(0, 28, 60, 0.4);
  top                 : 21px;
  height              : 78px;
  width               : 284px;
  position            : absolute;
  margin              : 0;
  left                : 370px;
  border-radius       : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .group .recipelist1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 429px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.38px;
  line-height         : 42.0px;
}
.recipelist .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 92px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 894px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .oval .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 92px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .oval .ovalcopy .ovalcopy1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 92px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .oval .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 50.0px;
  color               : rgba(255, 255, 255, 0.0);
  text-align          : center;
  letter-spacing      : 0.63px;
  line-height         : 70.0px;
}
.recipelist .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 88px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 896px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .fill29 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 170px;
  height              : 33px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .fill291 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 170px;
  height              : 33px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 573px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .fill292 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 170px;
  height              : 33px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 845px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .fill293 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 505px;
  height              : 33px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .fill294 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 505px;
  height              : 33px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 573px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.recipelist .fill295 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 505px;
  height              : 33px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 845px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}