
@font-face {
                          font-family: "ComicSansMS-Bold";
                          src: url('../fonts/Comic Sans MS Bold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "ComicSansMS";
                          src: url('../fonts/Comic Sans MS.ttf') format("truetype");
                        }
                        
.user {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.user .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 768px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .user1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 563px;
  height              : 97px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 464px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .user1 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 97px;
  box-sizing          : border-box;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 48px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .user1 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 4px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .user1 .line1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 49px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .caroline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 470px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 272px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.19px;
  line-height         : 21.0px;
}
.user .ann {
  background-color    : rgba(255,255,255,0.0);
  top                 : 470px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 500px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.19px;
  line-height         : 21.0px;
}
.user .lester {
  background-color    : rgba(255,255,255,0.0);
  top                 : 470px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 702px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.19px;
  line-height         : 21.0px;
}
.user .parentcenter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 128px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 882px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ComicSansMS-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.19px;
  line-height         : 21.0px;
}
.user .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 288px;
  height              : 170px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 639px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .group2 .rectanglecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 170px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .group2 .a585861431 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -73px;
  height              : 386px;
  width               : 580px;
  position            : absolute;
  margin              : 0;
  left                : -268px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 288px;
  height              : 170px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 215px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .group4 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 170px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .group4 .a993795898 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 170px;
  width               : 255px;
  position            : absolute;
  margin              : 0;
  left                : -42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .group4 .a1011589346 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 355px;
  width               : 532px;
  position            : absolute;
  margin              : 0;
  left                : -113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 288px;
  height              : 170px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 427px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .group3 .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 170px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .group3 .a902830088 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 275px;
  width               : 413px;
  position            : absolute;
  margin              : 0;
  left                : -160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 90px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 890px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .group .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 90px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 90px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 890px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.user .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 288px;
  height              : 170px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 215px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}